[user]
	name = Serge Paquet
	email = srgpqt@gmail.com
[color]
	ui = auto
[alias]
	a  = add
	d  = diff
	s  = status
	dh = diff HEAD
	st = status
	br = branch
	co = checkout
	ci = commit
	aa = add -A
	wc = whatchanged
	ks = difftool -t Kaleidoscope
	dt = difftool
	mt = mergetool
	cp = cherry-pick
	can = !git commit --amend --date=\"$(date '+%Y-%m-%d %H:%M:%S')\"

	l  = log --graph --decorate --oneline
	la = log --graph --decorate --oneline --all
	gl = log --graph --decorate
	gla = log --graph --decorate --all
	tip = log -1 --name-status
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

	rb = rebase
	rbi = rebase --interactive
	rba = rebase --abort
	rbc = rebase --continue
	rbs = rebase --skip
	rbh = rebase HEAD@{1}
[core]
	excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[merge]
	tool = kdiff3
[push]
	default = simple
